.App {
  text-align: center;
  position: center;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background: url("images/background.jpg");
  color: white;

}

.about_section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color:gray;
  color: white;
  text-align: center;
}

.topnav {
  position: fixed;
  float: left;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  align-content: center;
  height: 25px;
  background-color: #2196F3;
  padding: 10px;
}


.button {
  align-self: center;
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  box-sizing: content-box;
  margin: 20px auto 0px;
  width: 0.5%;
  padding: 15px 20px;
  border-radius: 24px;
  border-color: transparent;
  background-color: white;
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
  position: relative;
}

.buttonText {
  color: #4285f4;
  font-weight: bolder;
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.1);
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 0px;
  position: absolute;
  left: 30px;
  align-items: center;
}

.quiz {
  position: center;
  text-align: center;
  width: 53%;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  color: black;
  background-color: white;
}

.start {
  position: center;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 45px;
  align-items: center;
  font-family: "Brush Script MT", cursive;
  color: purple;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer {
  background: lightblue;
  height: 70%;
  width: 20%;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 50%;
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: auto;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
.Chat {
  position: absolute;
  float: right;
  top: 1;
  right: 0;
  
  border: 1px #bfff00; /* some kind of blue border */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0px 0px 4px #bfff00;
  -moz-box-shadow: 0px 0px 4px #bfff00;
  box-shadow: 0px 0px 4px #bfff00; /* some variation of blue for the shadow */
  padding: 15px;
  font-family: "Brush Script MT", cursive;
  color: white;
  
}

.Chat.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 10;
  background-color: green;
  border: 2px solid #4CAF50;
}

.chat_history {
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    height: 200px;
    width: 200px;
    overflow: auto;
    border: 3px solid #bfff00;
    padding: 2%;
    text-align: center;
    background: white;
    color: black;
    font-size: 1.5em;
}

.chat_title {
  color: #bfff00;
  text-shadow: 0 0 5px #bfff00, 0 0 10px #bfff00;
}

.send_chat_button {
  margin-left: auto;
  margin-right: auto;
  color: black;
  background: #bfff00;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  
  -webkit-box-shadow: 0px 0px 4px #bfff00;
  -moz-box-shadow: 0px 0px 4px #bfff00;
  box-shadow: 0px 0px 4px #bfff00;
}

.send_chat_button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #bfff00;
}

.start_game_button {
  text-decoration: none;
  color: black;
  background: #ff0000;
  padding: 15px 40px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  border: 1px solid #ff0000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0px 0px 4px #ff0000;
  -moz-box-shadow: 0px 0px 4px #ff0000;
  box-shadow: 0px 0px 4px #ff0000;
  font-family: "Brush Script MT", cursive;
}

.start_game_button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #ff0000;
}

/* Contact us section css below */

.column {
  float: left;
  width: 24.1%;
  margin-bottom: 16px;
  padding: 9px;
}

.card {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0px 0px 4px red;
  -moz-box-shadow: 0px 0px 4px red;
  box-shadow: 0px 0px 4px red;
  margin: 8px;
  background-color: brown;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
}

.button {
  border: none;
  display: inline-block;
  padding: 1px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

a:visited {
  color: white;
}