.App {
  text-align: center;
  position: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color:gray;
  color: white;
  text-align: center;
}

.button {
  align-self: center;
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  box-sizing: content-box;
  margin: 20px auto 0px;
  width: 1%;
  padding: 15px 20px;
  border-radius: 24px;
  border-color: transparent;
  background-color: white;
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
  position: relative;
}

.buttonText {
  color: #4285f4;
  font-weight: bolder;
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.1);
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 0px;
  position: absolute;
  left: 30px;
  align-items: center;
}

.quiz {
  background-color: white;
  position: center;
  text-align: center;
  width: 50%;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.start {
  position: center;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer {
  background: lightblue;
  padding: 15px;
  height: 70%;
  width: 20%;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 50%;
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: auto;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
.Chat {
  position: absolute;
  top: 0;
  right: 0;
  
  border: 1px blue; /* some kind of blue border */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0px 0px 4px blue;
  -moz-box-shadow: 0px 0px 4px blue;
  box-shadow: 0px 0px 4px blue; /* some variation of blue for the shadow */
  padding: 15px;
  font-family: "Brush Script MT", cursive;
  color: grey;
  
}

.chat_history {
  display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    height: 200px;
    width: 200px;
    overflow: auto;
    border: 3px solid blue;
    padding: 2%;
    text-align: center;
    color: grey;
}

.chat_title {
  color: blue;
  text-shadow: 0 0 5px blue, 0 0 10px blue;
}

.send_chat_button {
  position: relative;
  margin: 0;
}
